<a href="https://colab.research.google.com/github/enzoulian/vacina-bcg-tuberculose/blob/main/notebooks/dsa_prj_m2_limpeza.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

1 Dataframe

[texto do link](http://tabnet.datasus.gov.br/cgi/tabcgi.exe?pni/cnv/cpniuf.def)

![image.png]()

2 DataFrame

[texto do link](http://tabnet.datasus.gov.br/cgi/tabcgi.exe?sinannet/cnv/tubercbr.def)

![image.png]()

3 DataFrame

http://tabnet.datasus.gov.br/cgi/tabcgi.exe?sinannet/cnv/tubercbr.def


![image.png]()

4 Dataframe

http://tabnet.datasus.gov.br/cgi/tabcgi.exe?sinannet/cnv/tubercbr.def

![image.png]()

#Importando DataFrames

In [ ]:
url = "https://github.com/enzoulian/vacina-bcg-tuberculose/raw/main/dados/bruto/A104631189_28_143_208.csv"
dados_cv = pd.read_csv(url, encoding="ISO-8859-1", skiprows=4, skipfooter=20, sep=";", thousands=".", decimal=",")
dados_cv

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support skipfooter; you can avoid this warning by specifying engine='python'.

      Unidade da Federação    1994    1995  ...    2018    2019     Total
0              11 Rondônia   41356   37582  ...   24805   14635    800058
1                  12 Acre    8417   15209  ...   15839    9720    435530
2              13 Amazonas   32376   64859  ...   74056   45990   2103147
3               14 Roraima    7463    9129  ...   15138    8683    278512
4                  15 Pará  142918  165165  ...  115103   64516   4256283
5                 16 Amapá       -    9853  ...   15924    9418    406602
6             17 Tocantins       -       -  ...   24429   17430    653889
7              21 Maranhão  119778  156901  ...  111062   56549   3827065
8                 22 Piauí   65186   78481  ...   45806   24311   1466020
9                 23 Ceará  188430  217161  ...  130356   71228   4153471
10  24 Rio Grande do Norte   59231   57094  ...   48468   20171   1375131
11              25 Paraíba       -   53389  ...   58849   33189   1700986
12           26 Pernambuco  166185  206072  ...  138755   79155   4432551
13              27 Alagoas       -   57355  ...   53780   30194   1561560
14              28 Sergipe       -   46445  ...   33253   17506    955305
15                29 Bahia  316596  231238  ...  166031   94122   6244833
16         31 Minas Gerais       -       -  ...  251347  153740   6390997
17       32 Espírito Santo   54784   60809  ...   53274   31300   1448443
18       33 Rio de Janeiro       -  281375  ...  229546   76225   6212052
19            35 São Paulo       -  735265  ...  594669  310170  16347773
20               41 Paraná       -  154457  ...  146322   98696   4170763
21       42 Santa Catarina  119295  121155  ...   87194   55013   2390956
22    43 Rio Grande do Sul       -  191991  ...  125517   82642   3758466
23   50 Mato Grosso do Sul       -       -  ...   45618   28788   1081826
24          51 Mato Grosso   54128   58319  ...   56181   29264   1429210
25                52 Goiás   66630  108401  ...   88978   56745   2573954
26     53 Distrito Federal       -     720  ...   38973   28420   1228857

[27 rows x 28 columns]

In [ ]:
url = "https://github.com/enzoulian/vacina-bcg-tuberculose/raw/main/dados/bruto/A105314189_28_143_208.csv"
dados_casos = pd.read_csv(url, encoding="ISO-8859-1", skiprows=3, skipfooter=20, sep=";", thousands=".", decimal=",")
dados_casos

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support skipfooter; you can avoid this warning by specifying engine='python'.

         UF de notificação   2001   2002   2003  ...   2018   2019   2020   Total
0              11 Rondônia    674    639    651  ...    678    740    573   13090
1                  12 Acre    364    368    368  ...    483    582    537    8081
2              13 Amazonas   2334   2286   2375  ...   3803   3955   3500   58327
3               14 Roraima    150    172    206  ...    265    324    286    3674
4                  15 Pará   3517   3785   3940  ...   4678   5542   4437   82682
5                 16 Amapá    223    296    273  ...    284    357    274    5267
6             17 Tocantins    320    333    284  ...    233    234    200    4620
7              21 Maranhão   2901   3043   2980  ...   2647   2666   2332   51953
8                 22 Piauí   1568   1519   1448  ...    884    877    758   22158
9                 23 Ceará   4240   4385   4586  ...   4555   4544   3696   85787
10  24 Rio Grande do Norte   1158   1179   1354  ...   1624   1417   1502   25372
11              25 Paraíba   1369   1395   1465  ...   1542   1486   1263   27190
12           26 Pernambuco   4542   4870   5153  ...   6491   6793   6069  109108
13              27 Alagoas   1332   1351   1426  ...   1340   1288    922   26370
14              28 Sergipe    557    599    664  ...    978   1022    793   14569
15                29 Bahia   7935   7853   8435  ...   5667   5653   4448  130068
16         31 Minas Gerais   1331   5886   5982  ...   4224   4356   3889   92310
17       32 Espírito Santo   1658   1569   1563  ...   1484   1492   1734   29270
18       33 Rio de Janeiro  16976  16789  16130  ...  14819  14963  13077  291356
19            35 São Paulo  19775  19807  19202  ...  22258  21953  19045  389594
20               41 Paraná   3224   3436   3454  ...   2860   2883   2814   57706
21       42 Santa Catarina   1695   1873   1903  ...   2282   2265   1509   40584
22    43 Rio Grande do Sul   5231   5509   5786  ...   6908   7642   6327  122095
23   50 Mato Grosso do Sul    980    914   1022  ...   1455   1406   1171   21393
24          51 Mato Grosso   1425   1248   1267  ...   1414   1532   1188   27836
25                52 Goiás   1148   1149   1242  ...   1212   1173    952   21357
26     53 Distrito Federal    638    606    614  ...    471    483    382   10436

[27 rows x 22 columns]

In [ ]:
url = "https://github.com/enzoulian/vacina-bcg-tuberculose/raw/main/dados/bruto/A132213189_28_143_208.csv"
dados_fx_etaria = pd.read_csv(url, encoding="ISO-8859-1", skiprows=3, skipfooter=20, sep=";", thousands=".", decimal=",")
dados_fx_etaria = dados_fx_etaria.drop(columns='Em branco/IGN')
dados_fx_etaria

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support skipfooter; you can avoid this warning by specifying engine='python'.

         UF de notificação  <1 Ano   1-4   5-9  ...  65-69  70-79  80 e +   Total
0              11 Rondônia      70   142   107  ...    407    518     204   12517
1                  12 Acre      37    83    65  ...    240    302     140    7544
2              13 Amazonas     331   838   744  ...   1901   2527    1233   54821
3               14 Roraima      18    59    50  ...    116    140      57    3388
4                  15 Pará     434   579   571  ...   2674   3290    1189   78245
5                 16 Amapá      43    43    37  ...    162    189      75    4993
6             17 Tocantins      21    46    41  ...    199    337     150    4420
7              21 Maranhão     321   363   484  ...   2235   3131    1332   49621
8                 22 Piauí     113   110   133  ...   1207   1726     672   21400
9                 23 Ceará     368   648   724  ...   3083   3895    1572   82071
10  24 Rio Grande do Norte     124   256   177  ...    869   1168     496   23870
11              25 Paraíba     146   241   269  ...    868   1110     411   25927
12           26 Pernambuco     724   895   957  ...   3347   3913    1685  103036
13              27 Alagoas     142   169   172  ...    825    840     282   25448
14              28 Sergipe      26    41    53  ...    436    536     222   13776
15                29 Bahia     785   827   893  ...   4735   6190    2813  125620
16         31 Minas Gerais     280   613   636  ...   3460   4761    1979   88420
17       32 Espírito Santo     161   272   174  ...    788    898     342   27536
18       33 Rio de Janeiro    1192  2241  1917  ...   8098   8738    3140  278270
19            35 São Paulo     490  3077  2472  ...   9620  10887    3954  370284
20               41 Paraná     266   406   378  ...   1817   2190     752   54890
21       42 Santa Catarina     160   240   173  ...    972   1100     372   39075
22    43 Rio Grande do Sul     592   570   598  ...   3691   4444    1632  115768
23   50 Mato Grosso do Sul     147   272   221  ...    731    893     371   20222
24          51 Mato Grosso     255   479   324  ...   1051   1421     586   26648
25                52 Goiás      98   132    77  ...    856   1096     392   20405
26     53 Distrito Federal      80   162    98  ...    417    565     228   10054

[27 rows x 13 columns]

In [ ]:
url = "https://github.com/enzoulian/vacina-bcg-tuberculose/raw/main/dados/bruto/A132339189_28_143_208.csv"
dados_sexo = pd.read_csv(url, encoding="ISO-8859-1", skiprows=3, skipfooter=20, sep=";", thousands=".", decimal=",")
dados_sexo = dados_sexo.drop(columns='Ignorado')
dados_sexo

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support skipfooter; you can avoid this warning by specifying engine='python'.

         UF de notificação  Masculino  Feminino   Total
0              11 Rondônia       8500      4017   12517
1                  12 Acre       4839      2705    7544
2              13 Amazonas      33394     21431   54827
3               14 Roraima       2231      1157    3388
4                  15 Pará      49219     29008   78245
5                 16 Amapá       3102      1891    4993
6             17 Tocantins       2931      1489    4420
7              21 Maranhão      30682     18933   49621
8                 22 Piauí      13695      7701   21400
9                 23 Ceará      52040     30027   82091
10  24 Rio Grande do Norte      16252      7618   23870
11              25 Paraíba      17420      8504   25927
12           26 Pernambuco      69903     33113  103039
13              27 Alagoas      15996      9446   25448
14              28 Sergipe       9521      4254   13776
15                29 Bahia      80598     44967  125620
16         31 Minas Gerais      60413     28008   88421
17       32 Espírito Santo      18871      8661   27536
18       33 Rio de Janeiro     187414     90774  278279
19            35 São Paulo     260775    109760  370549
20               41 Paraná      37099     17769   54892
21       42 Santa Catarina      26466     12598   39075
22    43 Rio Grande do Sul      78659     37092  115768
23   50 Mato Grosso do Sul      14552      5658   20222
24          51 Mato Grosso      17814      8830   26648
25                52 Goiás      14300      6104   20405
26     53 Distrito Federal       6520      3534   10054

#Filtro Inicial

In [ ]:
cv = dados_cv[dados_cv.columns.drop('Total')]
cv = cv[cv.columns.drop(cv.columns[1:8])]
cv.head()

  Unidade da Federação    2001    2002    2003  ...    2016    2017    2018   2019
0          11 Rondônia   35213   32122   31107  ...   28900   27104   24805  14635
1              12 Acre   20105   21053   19352  ...   16939   16345   15839   9720
2          13 Amazonas   84517   85867   89590  ...   77405   75738   74056  45990
3           14 Roraima   10048   10510   10705  ...   11985   12974   15138   8683
4              15 Pará  183776  200764  197849  ...  116950  121313  115103  64516

[5 rows x 20 columns]

In [ ]:
casos = dados_casos[dados_casos.columns[:-2]]
casos.head()

  UF de notificação  2001  2002  2003  2004  ...  2015  2016  2017  2018  2019
0       11 Rondônia   674   639   651   628  ...   665   775   780   678   740
1           12 Acre   364   368   368   356  ...   361   450   484   483   582
2       13 Amazonas  2334  2286  2375  2559  ...  3404  3259  3693  3803  3955
3        14 Roraima   150   172   206   218  ...   174   160   205   265   324
4           15 Pará  3517  3785  3940  4089  ...  3991  4224  4511  4678  5542

[5 rows x 20 columns]

In [ ]:
fxetaria = dados_fx_etaria.drop(columns='Total')
fxetaria.head()

  UF de notificação  <1 Ano  1-4  5-9  ...  60-64  65-69  70-79  80 e +
0       11 Rondônia      70  142  107  ...    588    407    518     204
1           12 Acre      37   83   65  ...    304    240    302     140
2       13 Amazonas     331  838  744  ...   2422   1901   2527    1233
3        14 Roraima      18   59   50  ...    159    116    140      57
4           15 Pará     434  579  571  ...   3486   2674   3290    1189

[5 rows x 12 columns]

In [ ]:
sexo = dados_sexo.drop(columns='Total')
sexo.head()

  UF de notificação  Masculino  Feminino
0       11 Rondônia       8500      4017
1           12 Acre       4839      2705
2       13 Amazonas      33394     21431
3        14 Roraima       2231      1157
4           15 Pará      49219     29008

#Criando função para limpar DataFrames, aplicando o seguinte padrão.

*   Colocando a `Unidade de Federação` como índice e renomeando para `uf`
*   Removendo os números que antecedem o nome dos estados
*   Convertendo as colunas para o tipo `int`

In [ ]:
def limpeza(df):
  uf = df.columns[0]
  df = df.rename(columns={uf:'uf'})
  df = df.set_index('uf')
  df.index = df.index.str[3:]
  return df

In [ ]:
def vazio(df: pd.DataFrame):
  qtd = df.isna().sum().sum()
  qtd = qtd + df.isnull().sum().sum()
  return qtd

#Aplicando limpeza para os DataFrames

In [ ]:
cv = limpeza(cv)
casos = limpeza(casos)
fxetaria = limpeza(fxetaria)
sexo = limpeza(sexo)

#Verificando dados incompletos

In [ ]:
display(vazio(cv))
display(vazio(casos))
display(vazio(fxetaria))
display(vazio(sexo))

0

0

0

0

#Analisando dados finais

In [ ]:
cv.head()

            2001    2002    2003    2004  ...    2016    2017    2018   2019
uf                                        ...
Rondônia   35213   32122   31107   30836  ...   28900   27104   24805  14635
Acre       20105   21053   19352   19048  ...   16939   16345   15839   9720
Amazonas   84517   85867   89590   84632  ...   77405   75738   74056  45990
Roraima    10048   10510   10705    9498  ...   11985   12974   15138   8683
Pará      183776  200764  197849  183739  ...  116950  121313  115103  64516

[5 rows x 19 columns]

In [ ]:
casos.head()

          2001  2002  2003  2004  2005  ...  2015  2016  2017  2018  2019
uf                                      ...
Rondônia   674   639   651   628   630  ...   665   775   780   678   740
Acre       364   368   368   356   329  ...   361   450   484   483   582
Amazonas  2334  2286  2375  2559  2477  ...  3404  3259  3693  3803  3955
Roraima    150   172   206   218   155  ...   174   160   205   265   324
Pará      3517  3785  3940  4089  3975  ...  3991  4224  4511  4678  5542

[5 rows x 19 columns]

In [ ]:
fxetaria.head()

          <1 Ano  1-4  5-9  10-14  15-19  ...  40-59  60-64  65-69  70-79  80 e +
uf                                        ...
Rondônia      70  142  107    202    788  ...   3728    588    407    518     204
Acre          37   83   65    151    571  ...   1813    304    240    302     140
Amazonas     331  838  744   1232   4561  ...  14482   2422   1901   2527    1233
Roraima       18   59   50     83    240  ...    990    159    116    140      57
Pará         434  579  571   1292   5917  ...  21907   3486   2674   3290    1189

[5 rows x 11 columns]

In [ ]:
sexo.head()

          Masculino  Feminino
uf
Rondônia       8500      4017
Acre           4839      2705
Amazonas      33394     21431
Roraima        2231      1157
Pará          49219     29008

#Exportando DataFrames limpos

In [ ]:
from google.colab import drive
drive.mount('drive')

Drive already mounted at drive; to attempt to forcibly remount, call drive.mount("drive", force_remount=True).

In [ ]:
cv.to_csv('limpo-vacina.csv')
!cp limpo-vacina.csv "drive/My Drive/Colab Notebooks/Bootcamp Alura/projeto modulo 2"

In [ ]:
casos.to_csv('limpo-casos.csv')
!cp limpo-casos.csv "drive/My Drive/Colab Notebooks/Bootcamp Alura/projeto modulo 2"

In [ ]:
fxetaria.to_csv('limpo-fxetaria.csv')
!cp limpo-fxetaria.csv "drive/My Drive/Colab Notebooks/Bootcamp Alura/projeto modulo 2"

In [ ]:
sexo.to_csv('limpo-sexo.csv')
!cp limpo-sexo.csv "drive/My Drive/Colab Notebooks/Bootcamp Alura/projeto modulo 2"